<span class="loader" *ngIf="adminsService.getIsLoading()"></span>
<div class="max-w-2xl mx-auto grid grid-cols-1 sm:grid-cols-2 md:grid-cols-2 lg:grid-cols-3 gap-6">
	<div *ngFor="let admin of adminsService.getAdmins() | async;" class="px-4 py-4 max-w-sm bg-white rounded-lg border border-gray-200 shadow-md dark:bg-gray-800 dark:border-gray-700">
		<div class="flex flex-col items-center pb-10">
			<img class="mb-3 w-24 h-24 rounded-full shadow-lg" [src]="'https://i.pravatar.cc/'+admin.id" alt="Bonnie image">
			<h3 class="mb-1 text-xl font-medium text-gray-900 dark:text-white">{{admin.username}}</h3>
			<span class="text-sm text-gray-500 dark:text-gray-400">{{admin.role}}</span>
			<span class="text-sm text-gray-500 dark:text-gray-400">{{admin.email}}</span>
			<span class="text-sm text-gray-500 dark:text-gray-400">{{admin.description}}</span>
			<div class="flex mt-4 space-x-3 lg:mt-6">
				<span (click)="adminsService.deleteAdmin(admin.id ?? -1)"
					class="cursor-pointer inline-flex items-center py-2 px-4 text-sm font-medium text-center text-white bg-blue-700 rounded-lg hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800" style="background-color: red; border-radius: 0;">
                    Delete</span>
				<span 
					class="cursor-pointer inline-flex items-center py-2 px-4 text-sm font-medium text-center text-gray-900 bg-white rounded-lg border border-gray-300 hover:bg-gray-100 focus:ring-4 focus:ring-blue-300 dark:bg-gray-800 dark:text-white dark:border-gray-600 dark:hover:bg-gray-700 dark:hover:border-gray-700 dark:focus:ring-gray-800">
                    Update Info</span>
			</div>
		</div>
	</div>
</div>

